<div class="p-grid">
 
  <div class="p-col sub-title"> <!-- Third column for the sub-title -->
      <span> {{ lastUpdate }} {{" "}}עדכון אחרון</span>
  </div>
  <div class="p-col position"> <!-- Second column for the title -->
    <h1 class="title"> של משרד הבריאות {{ BI }}  פורטל </h1>
  </div>
  <div  class="p-coll"> <!-- First column for the logo -->
    <div class="logo-container">
      <div class="logo-wrapper">
        <a href="http://localhost:4200/">
          <img class="logo" alt="לוגו משרד הבריאות" src="../../assets/images/לוגו משרד הבריאות.png">
        </a>
      </div>
    </div>
  </div>
 
<div class="container">
  <div class="menu-icon" (click)="toggleSidebar()">
    <i [ngClass]="menuIcon"></i>
  </div>
  <p-sidebar position="right" [(visible)]="sidebarVisible" [blockScroll]="true" [modal]="true">
    <p-panelMenu class="panel" [model]="items"></p-panelMenu>
  </p-sidebar>
</div>

</div>
